# Include the README and license files
include README.md
# include LICENSE

# Include the SQL schema in the package
include src/parkinsons_variant_viewer/web/schema.sql

# Include any templates or static files inside the web package
recursive-include src/parkinsons_variant_viewer/web/templates *