name: CI

on:
  push:
    branches:
      - develop-sprint3-ci
      - develop
      - main
      - 26-api-tests-failing-in-ci
      - rn-sprint3
  pull_request:
    branches:
      - develop-sprint3-ci
      - develop
      - main 

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: Run test with coverage
        run: |
          pytest \
            --cov=parkinsons_variant_viewer \
            --cov-report=xml \
            --cov-report=term

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with: 
          token: ${{ secrets.CODECOV_TOKEN }} 
          files: coverage.xml
          flags: unittests
          fail_ci_if_error: true

  docker-build:
    runs-on: ubuntu-latest
    needs: test   # only build Docker if tests passed
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t parkinsons-viewer .